@model  WebPerfume.Models.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var quantityprod = ViewBag.QuantityProductInCart;
    var listRelated = (List<WebPerfume.Models.EF.Product>)ViewBag.ListRelated;
    var listHot = (List<WebPerfume.Models.EF.Product>)ViewBag.ListHot;
}
@section jsFooter{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/trang-chu">Trang chủ</a></li>
                        <li><a href="/Category/Index/@Model.CategoryId">@Model.Category.Name</a></li>
                        <li>@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">

                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="@Model.Image"
                                 data-zoom-image="@Model.Image" alt="big-1">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">

                    <h1>@Model.Name</h1>

                    <div class=" product_ratting">
                        <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="review"><a href="#"> (customer review ) </a></li>
                        </ul>
                    </div>
                    @if (Model.PromotionPrice != null)
                    {
                        <div class="price_box">
                            <span class="old_price">@((Model.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                            <span class="current_price">@((Model.PromotionPrice.GetValueOrDefault(0)).ToString("N0"))đ</span>
                        </div>
                    }
                    else
                    {
                        <div class="price_box">
                            <span class="current_price">@((Model.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                        </div>
                    }

                    <div class="product_desc">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                    @if (Model.Quantity > 0)
                    {
                        <h4>Có sẵn @Model.Quantity sản phẩm</h4>
                        <div class="product_variant quantity">
                            @using (Html.BeginForm("AddItemFromDetailProduct", "Cart", FormMethod.Get))
                            {
                                <label>quantity</label>
                                <input name="id" value="@Model.Id" type="hidden" />
                                <input min="1" max="@Model.Quantity" name="quantity" onchange="handleChangeQuantry(@Model.Quantity, this.value , @quantityprod)" type="number" id="quantityprod" value="1">

                                <button class="button" type="submit">Mua hàng</button>
                            }
                        </div>
                    }
                    else
                    {
                        <h4>Hết hàng</h4>
                        <div class="product_variant quantity">
                            <button class="button" type="submit" style="margin-left:0px;"><a href="/Contact">Liên hệ</a></button>
                        </div>

                    }

                    <div class="product_meta">
                        <span>Danh mục: <a href="/Category/Index/@Model.Category.Id">@Model.Category.Name</a></span>
                    </div>

                    <div class="priduct_social">
                        <ul>
                            <li>
                                <a class="facebook" href="#" title="facebook">
                                    <i class="fab fa-facebook-f"></i>
                                    Like
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#" title="twitter"><i class="fab fa-twitter"></i> tweet</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                                   aria-selected="false">Mô tả chi tiết</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
                                   aria-selected="false">Thông tin sản phẩm</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                   aria-selected="false">Đánh giá (1)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content col-lg-12">
                                @Html.Raw(Model.DescriptionDetail)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sheet" role="tabpanel">
                            <div class="product_d_table">
                                <form action="#">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="first_child">Thể tích</td>
                                                <td>@Model.Volume ml</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Xuất xứ</td>
                                                <td>@Model.Origin</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Năm sản xuất</td>
                                                <td>@Model.ReleaseYear</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Giới tính</td>
                                                <td>@Model.Sex</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Phong cách</td>
                                                <td>@Model.Style</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                <h2>1 review for Donec eu furniture</h2>
                                <div class="reviews_comment_box">
                                    <div class="comment_thmb">
                                        <img src="~/Content/Client/img/comment2.jpg" alt="">
                                    </div>
                                    <div class="comment_text">
                                        <div class="reviews_meta">
                                            <div class="star_rating">
                                                <ul>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <p><strong>admin </strong>- September 12, 2018</p>
                                            <span>roadthemes</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_title">
                                    <h2>Add a review </h2>
                                    <p>Your email address will not be published. Required fields are marked </p>
                                </div>
                                <div class="product_ratting mb-10">
                                    <h3>Your rating</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product_review_form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="review_comment">Your review </label>
                                                <textarea name="comment" id="review_comment"></textarea>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="author">Name</label>
                                                <input id="author" type="text">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="email">Email </label>
                                                <input id="email" type="text">
                                            </div>
                                        </div>
                                        <button type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product area start-->
<section class="product_area mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Sản phẩm liên quan</h2>
                </div>
                <div class="product_carousel product_column5 owl-carousel">
                    @foreach (var item in listRelated)
                    {
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="/Product/Detail/@item.Id">
                                    <img src="@item.Image" alt="">
                                </a>
                                <a class="secondary_img" href="product-details.html">
                                    @*<img src="~/Content/Client/img/product16.jpg" alt="">*@
                                </a>
                                @if (item.PercentPromotion != 0)
                                {
                                    <div class="label_product">
                                        <span class="label_sale">-@item.PercentPromotion%</span>
                                    </div>
                                }
                                <div class="action_links">
                                    <ul>

                                        <li class="quick_button">
                                            <a href="/Product/Detail/@item.Id" data-toggle="modal"
                                               data-target="#modal_box" title="quick view">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_to_cart">
                                    <a href="/Cart/AddItem?id=@item.Id&quantity=1" title="add to cart">Mua ngay</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <p class="manufacture_product"><a href="#">@item.Category.Name</a></p>
                                <h4><a href="/Product/Detail/@item.Id">@item.Name</a></h4>
                                @if (item.PromotionPrice != null)
                                {
                                    <div class="price_box">
                                        <span class="old_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                        <span class="current_price">@((item.PromotionPrice.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box" style="float:right;">
                                        <span class="current_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--product area end-->
<!--product area start-->
<section class="product_area mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Sản phẩm HOT </h2>
                </div>
                <div class="product_carousel product_column5 owl-carousel">
                    @foreach (var item in listHot)
                    {
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="/Product/Detail/@item.Id">
                                    <img src="@item.Image" alt="">
                                </a>
                                <a class="secondary_img" href="product-details.html">
                                    @*<img src="~/Content/Client/img/product8.jpg" alt="">*@
                                </a>
                                @if (item.PercentPromotion != 0)
                                {
                                    <div class="label_product">
                                        <span class="label_sale">-@item.PercentPromotion%</span>
                                    </div>
                                }

                                <div class="action_links">
                                    <ul>

                                        <li class="quick_button">
                                            <a href="/Product/Detail/@item.Id" data-toggle="modal"
                                               data-target="#modal_box" title="quick view">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_to_cart">
                                    <a href="/Cart/AddItem?id=@item.Id&quantity=1" title="add to cart">Mua ngay</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <p class="manufacture_product"><a href="#">@item.Category.Name</a></p>
                                <h4><a href="/Product/Detail/@item.Id">@item.Name</a></h4>
                                @if (item.PromotionPrice != null)
                                {
                                    <div class="price_box">
                                        <span class="old_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                        <span class="current_price">@((item.PromotionPrice.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box" style="float:right;">
                                        <span class="current_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--product area end-->

<script type="text/javascript">

    function handleChangeQuantry(totalQuantity, valueChange, valuePre) {
        console.log(totalQuantity);
        console.log(valueChange);
        console.log(valuePre);

        if (parseInt(valuePre) > 0) {
            if (parseInt(totalQuantity) == parseInt(valuePre)) {
                swal("Rose Perume Notification", "The product already exists in the cart and has a maximum quantity")
                    .then(() => {
                    $("#quantityprod").val(1);
                });                
            } else {
                if (parseInt(totalQuantity) < parseInt(valueChange)) {
                    swal("Rose Perume Notification", "The quantity you selected has reached the maximum for this product")
                        .then(() => {
                            $("#quantityprod").val(totalQuantity);
                        });
                }
            }
        } else {
            if (parseInt(totalQuantity) < parseInt(valueChange)) {
                swal("Rose Perume Notification", "The quantity you selected has reached the maximum for this product")
                    .then(() => {
                        $("#quantityprod").val(totalQuantity);
                    });
            }
        }
    }
</script>