@model WebPerfume.Models.EF.News

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace("mota", { customConfig: "/Assets/ckeditor/config.js" });
        });
    </script>

}

<h2>Sửa</h2>

@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <h6>Tên</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Hình ảnh</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Mô tả</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Mô tả chi tiết</h6>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.DescriptionDetail, new { htmlAttributes = new { @class = "form-control" }, id = "mota" })
                @Html.ValidationMessageFor(model => model.DescriptionDetail, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group col-md-6">
            <h6>Tag</h6>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TagId, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
