@model List<WebPerfume.Models.EF.Cart>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? totalmoney = 0;
    foreach (var item in Model)
    {        
        totalmoney += ((item.Product.PercentPromotion != null && item.Product.PromotionPrice.Value != 0) ? item.Product.PromotionPrice : item.Product.Price) * item.Quantity;
    }
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/trang-chu">Trang chủ</a></li>
                        <li>Thanh toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--Checkout page section-->
<div class="Checkout_section mt-32">
    <div class="container">

        <div class="checkout_form">
            <div class="row">
                @if ((string)Session["UserClientUsername"] == "")
                {
                    <div class="col-lg-6 col-md-6">

                        <h3>Thông tin khách hàng</h3>
                        <div class="row">

                            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                            {
                                <div class="col-lg-12 mb-20">
                                    <label>Tên <span>*</span></label>
                                    <input name="shipName" type="text">
                                </div>
                                <div class="col-12 mb-20">
                                    <label>Địa chỉ <span>*</span></label>
                                    <input name="address" type="text">
                                </div>

                                <div class="col-lg-12 mb-20">
                                    <label>Số điện thoại<span>*</span></label>
                                    <input name="mobile" type="text">

                                </div>
                                <div class="col-lg-12 mb-20">
                                    <label> Email <span>*</span></label>
                                    <input name="email" type="text">

                                </div>
                                <div class="col-12">
                                    <div class="order-notes">
                                        <label for="order_note">Ghi chú</label>
                                        <textarea id="order_note"
                                                  placeholder="Ghi chú về đơn đặt hàng của bạn..."></textarea>
                                    </div>
                                </div>
                                <div class="order_button mt-4 ml-3">
                                    <button type="submit">Thanh toán</button>
                                </div>
                            }

                        </div>

                    </div>
                }
                <div class="col-lg-6 col-md-6">

                    <h3>Chi tiết đơn hàng</h3>
                    <div class="order_table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Số tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.Product.Name <strong> ( x @item.Quantity)</strong></td>
                                        @if (item.Product.PromotionPrice != null && item.Product.PromotionPrice.Value != 0)
                                        {
                                            <td> @((item.Product.PromotionPrice.GetValueOrDefault(0)*item.Quantity).ToString("N0"))</td>
                                        }
                                        else
                                        {
                                            <td> @((item.Product.Price.GetValueOrDefault(0)*item.Quantity).ToString("N0"))</td>
                                        }

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tổng số tiền</th>
                                    <td>@((totalmoney.GetValueOrDefault(0)).ToString("N0"))</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    @if ((string)Session["UserClientUsername"] != "")
                    {
                        <div>
                            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                            {
                                <div class="order_button mt-4 ml-3">
                                    <button type="submit">Thanh toán</button>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--Checkout page section end-->
