@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listhotdeal = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListHotDeal;
    var listnewsamsung = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListNewSamSung;
    var listnewsony = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListNewSony;
    var listnewlg = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListNewLG;
    var listnews = (List<WebShopTivi.Models.EF.News>)ViewBag.ListNews;
    var listcategory = (List<WebShopTivi.Models.EF.Category>)ViewBag.ListCategory;
    var featuredproduct = (WebShopTivi.Models.EF.Product)ViewBag.FeaturedProduct;
    var listfeaturedsamsung = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListFeaturedSamSung;
    var listfeaturedsony = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListFeaturedSony;
    var listfeaturedlg = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListFeaturedLG;
    var listfeaturedtoshiba = (List<WebShopTivi.Models.EF.Product>)ViewBag.ListFeaturedToshiba;

}

<style>
    .slider_content {
        margin-top: 230px;
    }
</style>

@section _slidebanner{
    <!--slider area start-->
    <section class="slider_section mb-60">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="slider_area owl-carousel">
                        <div class="single_slider d-flex align-items-center" data-bgimg="/Content/img/Slide/sl1.jpg">
                            <div class="slider_content">
                                @*<h2>Categories</h2>*@
                                <h1>Chanel</h1>
                                <p>Description</p>
                                <a href="#">shopping now</a>
                            </div>
                        </div>
                        <div class="single_slider d-flex align-items-center" data-bgimg="/Content/img/Slide/sl3.jpg">
                            <div class="slider_content">
                                @*<h2>Categories</h2>*@
                                <h1>Hugo Boss</h1>
                                <p>Description</p>
                                <a href="#">shopping now</a>
                            </div>
                        </div>
                        <div class="single_slider d-flex align-items-center" data-bgimg="/Content/img/Slide/sl5.png">
                            <div class="slider_content">
                                @*<h2>Categories</h2>*@
                                <h1>Versace</h1>
                                <p>Description</p>
                                <a href="#">shopping now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <!--slider area end-->
    <!--banner area start-->
    <div class="banner_area mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single_banner wow flipInY">
                        <div class="banner_thumb">
                            <a href="#"><img src="~/Content/img/Banner/bn1.jpg" alt="" style="height:240px"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single_banner wow flipInY" data-wow-delay="0.3s">
                        <div class="banner_thumb">
                            <a href="#"><img src="~/Content/img/Banner/bn2.jpg" alt="" style="height:240px"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single_banner wow flipInY" data-wow-delay="0.5s">
                        <div class="banner_thumb">
                            <a href="#"><img src="~/Content/img/Banner/bn3.jpg" alt="" style="height:240px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->
}

<!--product area start-->
<section class="product_area mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title wow fadeInLeft">
                    <h2>Sản phẩm HOT </h2>
                </div>
            </div>
        </div>
        <div class="product_container">
            <div class="product_carousel product_column5 owl-carousel wow fadeInUp">
                @foreach (var item in listhotdeal)
                {
                    <div class="single_product">
                        <div class="product_thumb">
                            <a class="primary_img" href="/Product/Detail/@item.Id">
                                <img src="@item.Image" alt="">
                            </a>
                            <a class="secondary_img" href="/Product/Detail/@item.Id">
                                @*<img src="~/Content/Client/img/product2.jpg" alt="">*@
                            </a>
                            @if (item.PercentPromotion != 0)
                            {
                                <div class="label_product">
                                    <span class="label_sale">-@item.PercentPromotion%</span>
                                </div>
                            }
                            <div class="action_links">
                                <ul>
                                    @*<li class="wishlist">
                                            <a href="wishlist.html" title="Add to Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>*@

                                    <li class="quick_button">
                                        <a href="/Product/Detail/@item.Id" data-toggle="modal" data-target="#modal_box"
                                           title="quick view"> <i class="far fa-eye"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="add_to_cart">
                                <a href="/Cart/AddItem?id=@item.Id&quantity=1" title="add to cart">Mua ngay</a>
                            </div>
                        </div>
                        <div class="product_content">
                            <p class="manufacture_product"><a href="/Category/Index/@item.CategoryId">@item.Category.Name</a></p>
                            <h4><a href="/Product/Detail/@item.Id">@item.Name</a></h4>
                            @if (item.PromotionPrice != null)
                            {
                                <div class="price_box">
                                    <span class="old_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    <span class="current_price">@((item.PromotionPrice.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                </div>
                            }
                            else
                            {
                                <div class="price_box" style="float:right;">
                                    <span class="current_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--product area end-->
<!--product area start-->
<section class="product_area mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title wow fadeInLeft">
                        <h2>Sản phẩm mới về</h2>
                    </div>
                    <div class="product_tab_button">
                        <ul class=" nav" role="tablist">
                            <li class="wow fadeInUp" data-wow-delay="0.1s">
                                <a class="active" data-toggle="tab" href="#cables" role="tab" aria-controls="cables"
                                   aria-selected="true">Chanel</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.2s">
                                <a data-toggle="tab" href="#batteries" role="tab" aria-controls="batteries"
                                   aria-selected="false">Dior</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.3s">
                                <a data-toggle="tab" href="#chargers" role="tab" aria-controls="chargers"
                                   aria-selected="false">Calvin Klein</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.4s">
                                <a data-toggle="tab" href="#cases" role="tab" aria-controls="cases"
                                   aria-selected="false">Gucci</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.1s">
                                <a class="tab" data-toggle="tab" href="#cables" role="tab" aria-controls="cables"
                                   aria-selected="true">Guerlain</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.2s">
                                <a data-toggle="tab" href="#batteries" role="tab" aria-controls="batteries"
                                   aria-selected="false">Hugo Boss</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.3s">
                                <a data-toggle="tab" href="#chargers" role="tab" aria-controls="chargers"
                                   aria-selected="false">Lancôme</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.4s">
                                <a data-toggle="tab" href="#cases" role="tab" aria-controls="cases"
                                   aria-selected="false">Versace</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content wow fadeInUp">
            <div class="tab-pane fade show active" id="automobiles" role="tabpanel">
                <div class="product_carousel product_column5 owl-carousel">
                    @foreach (var item in listnewsamsung)
                    {
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="/Product/Detail/@item.Id">
                                    <img src="@item.Image" alt="">
                                </a>
                                <a class="secondary_img" href="/Product/Detail/@item.Id">
                                    @*<img src="~/Content/Client/img/product16.jpg" alt="">*@
                                </a>
                                @if (item.PercentPromotion != 0)
                                {
                                    <div class="label_product">
                                        <span class="label_sale">-@item.PercentPromotion%</span>
                                    </div>
                                }
                                <div class="action_links">
                                    <ul>

                                        <li class="quick_button">
                                            <a href="/Product/Detail/@item.Id" data-toggle="modal"
                                               data-target="#modal_box" title="quick view">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_to_cart">
                                    <a href="/Cart/AddItem?id=@item.Id&quantity=1" title="add to cart">Mua ngay</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <p class="manufacture_product"><a href="/Category/Index/@item.CategoryId">@item.Category.Name</a></p>
                                <h4><a href="/Product/Detail/@item.Id">@item.Name</a></h4>

                                @if (item.PromotionPrice != null)
                                {
                                    <div class="price_box">
                                        <span class="old_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                        <span class="current_price">@((item.PromotionPrice.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box" style="float:right;">
                                        <span class="current_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="beauty" role="tabpanel">
                <div class="product_carousel product_column5 owl-carousel">
                    @foreach (var item in listnewsony)
                    {
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="/Product/Detail/@item.Id">
                                    <img src="@item.Image" alt="">
                                </a>
                                <a class="secondary_img" href="/Product/Detail/@item.Id">
                                    @*<img src="~/Content/Client/img/product8.jpg" alt="">*@
                                </a>
                                @if (item.PercentPromotion != 0)
                                {
                                    <div class="label_product">
                                        <span class="label_sale">-@item.PercentPromotion%</span>
                                    </div>
                                }

                                <div class="action_links">
                                    <ul>

                                        <li class="quick_button">
                                            <a href="/Product/Detail/@item.Id" data-toggle="modal"
                                               data-target="#modal_box" title="quick view">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_to_cart">
                                    <a href="/Cart/AddItem?id=@item.Id&quantity=1" title="add to cart">Mua ngay</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <p class="manufacture_product"><a href="/Category/Index/@item.CategoryId">@item.Category.Name</a></p>
                                <h4><a href="/Product/Detail/@item.Id">@item.Name</a></h4>

                                @if (item.PromotionPrice != null)
                                {
                                    <div class="price_box">
                                        <span class="old_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                        <span class="current_price">@((item.PromotionPrice.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box" style="float:right;">
                                        <span class="current_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="consoles" role="tabpanel">
                <div class="product_carousel product_column5 owl-carousel">
                    @foreach (var item in listnewlg)
                    {
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html">
                                    <img src="@item.Image" alt="">
                                </a>
                                <a class="secondary_img" href="product-details.html">
                                    @*<img src="~/Content/Client/img/product6.jpg" alt="">*@
                                </a>
                                @if (item.PercentPromotion != 0)
                                {
                                    <div class="label_product">
                                        <span class="label_sale">-@item.PercentPromotion%</span>
                                    </div>
                                }

                                <div class="action_links">
                                    <ul>

                                        <li class="quick_button">
                                            <a href="/Product/Detail/@item.Id" data-toggle="modal"
                                               data-target="#modal_box" title="quick view">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_to_cart">
                                    <a href="/Cart/AddItem?id=@item.Id&quantity=1" title="add to cart">Mua ngay</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <p class="manufacture_product"><a href="/Category/Index/@item.CategoryId">@item.Category.Name</a></p>
                                <h4><a href="/Product/Detail/@item.Id">@item.Name</a></h4>

                                @if (item.PromotionPrice != null)
                                {
                                    <div class="price_box">
                                        <span class="old_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                        <span class="current_price">@((item.PromotionPrice.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box" style="float:right;">
                                        <span class="current_price">@((item.Price.GetValueOrDefault(0)).ToString("N0"))đ</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--product area end-->

@section _blogbrand{
    <!--blog brand area-->
    <div class="blog_brand_area">
        <!--blog area start-->
        <section class="blog_section mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title wow fadeInLeft">
                            <h2>Tin tức </h2>
                        </div>
                        <div class="blog_carousel blog_column2 owl-carousel wow fadeInUp">
                            @foreach (var item in listnews)
                            {
                                <div class="single_blog">
                                    <div class="blog_thumb">
                                        <a href="/News/Detail/@item.Id"><img src="@item.Image" alt=""></a>
                                    </div>
                                    <div class="blog_content">
                                        <p><a href="#">Fashion</a></p>
                                        <h3><a href="/News/Detail/@item.Id">@item.Name</a></h3>
                                        <div class="blogpost_demo">
                                            <p>Posted by <a href="#">eCommerce</a></p>
                                        </div>
                                        <div class="date_post">
                                            <span>@item.CreateDate</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--blog area end-->
        <!--brand area start-->
        <div class="brand_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="brand_container owl-carousel wow flipInX">
                            @foreach (var item in listcategory)
                            {
                                <div class="single_brand">
                                    <a href="/Category/Index/@item.Id"><img src="@item.Image" alt="" style="max-height:100px;"></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--brand area end-->
    </div>
    <!--blog brand end-->
}