@model List<WebPerfume.Models.EF.Cart>
@{
    decimal? totalmoney = 0;
    foreach (var item in Model)
    {
        totalmoney += ((item.Product.PercentPromotion != null && item.Product.PromotionPrice.Value != 0) ? item.Product.PromotionPrice : item.Product.Price) * item.Quantity;
    }
}
<div class="mini_cart_wrapper text-right">
    <a href="javascript:void(0)"><span class="fas fa-shopping-cart"></span>@*$67.71*@ </a>
    <span id="quantityProductInCart" class="cart_quantity">@Model.Count</span>
    <!--mini cart-->
    <div class="mini_cart">
        @foreach (var item in Model)
        {
            <div class="cart_item" id="cartProduct-@item.Id">
                <div class="cart_img">
                    <a href="/Product/Detail/@item.Product.Id"><img src="@item.Product.Image" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="/Product/Detail/@item.Product.Id">@item.Product.Name</a>

                    <span class="quantity">Số lượng: @item.Quantity</span>
                    @if (item.Product.PromotionPrice != null && item.Product.PromotionPrice.Value != 0)
                    {
                        <span class="price_cart">@((item.Product.PromotionPrice.GetValueOrDefault(0)*item.Quantity).ToString("N0"))</span>
                    }
                    else
                    {
                        <span class="price_cart">@((item.Product.Price.GetValueOrDefault(0)*item.Quantity).ToString("N0"))</span>
                    }


                </div>
                <div class="cart_remove">
                    <a href="#" data-id="@item.Product.Id" onclick="handleRemoveProductOnHeader(@item.ProductId, @item.Id)" class="btn-delete"><i class="fas fa-times"></i></a>
                </div>
            </div>
        }


        <div class="mini_cart_table">
            <div class="cart_total mt-10">
                <span>Tổng số tiền:</span>
                <span id="totalCard" class="price">@((totalmoney.GetValueOrDefault(0)).ToString("N0"))&nbsp;₫</span>
            </div>
        </div>

        <div class="mini_cart_footer">
            <div class="cart_button">
                <a href="/Cart">Giỏ hàng</a>
            </div>
            <div class="cart_button">
                <a onclick="onclickPayment()" >Thanh toán</a>
            </div>

        </div>

    </div>
    <!--mini cart end-->
</div>


<script>

    function onclickPayment() {
        $.ajax({
            url: 'Cart/CheckCart',
            dataType: 'json',
            type: 'POST',
            success: function (response) {
                if (response) {
                    window.location.href = "/thanh-toan";
                } else {
                    swal("Error, My Cart is empty !", {
                        icon: "warning",
                    })
                }                
            }
        })
    }

    function formatToCurrency(amount) {
        return (amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
    }

    function handleRemoveProductOnHeader(idProduct, idCart) {
        $.ajax({
            data: { id: idProduct },
            url: '/Cart/Delete',
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.status == true) {                    
                    var getElement = `#cartProduct-${idCart}`;
                    $(getElement).remove();
                    var getQuatityShow = $("#quantityProductInCart").html();
                    $("#quantityProductInCart").html(getQuatityShow - 1);
                    var listsp = $('.price_cart');
                    var newTotal = 0;
                    $.each(listsp, function (index, item) {
                        var convertPrice = $(item).text().replaceAll(",","");
                        newTotal += parseInt(convertPrice)                        
                    });                  
                    newTotal = newTotal.toLocaleString('vi', { style: 'currency', currency: 'VND' });
                    $("#totalCard").html(newTotal);
                    console.log(window.location.href);
                    if (window.location.href == "https://localhost:44329/my-cart#") {
                        window.location.href = "/my-cart";
                    }
                } else {
                    swal("Error, You can not remove product from the cart", {
                        icon: "warning",
                    })
                }
            }
        })
    }

</script>
