@model PagedList.IPagedList<WebShopTivi.Models.EF.Category>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh mục</h2>


<a href="/Admin/Category/Create" class="btn btn-success" style="margin-bottom:10px;float:left;">Tạo mới</a>


@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{

    <div class="input-group mb-2" style="float:right;">
        <input type="text" class="col-lg-4 form-control" style="width:400px;display:inline;margin-right:5px;" name="searchString" value="@ViewBag.SearchString" placeholder="Tìm kiếm..." />

        <button class="btn btn-primary" type="submit">
            Tìm kiếm
        </button>

    </div>

}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Tên
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tạo ngày
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@item.Image" style="width:200px;height:125px;" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <p class="badge badge-success">Kích hoạt</p>
                    }
                    else
                    {
                        <p class="badge badge-danger">Khóa</p>
                    }
                </td>
                <td>
                    <a href="/Admin/Category/Edit/@item.Id" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></a>

                    <a onclick="return confirm('Bạn có chắc chắn muốn xóa danh mục này?')" href="/Admin/Category/Delete/@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    }

</table>

@if (Model.Count() <= 0)
{
    <div class="text-center text-danger">Không có dữ liệu</div>
}
<div class="panel-footer">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            
            <li>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </li>
        </ul>
    </nav>
</div>
